.header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  list-style-type: none;
  &__item {
    margin: 0 25px;
  }
}

.light {
  border: 1px solid #000;
  display: inline-flex;
  flex-direction: column;
  &__color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.5;
    &_red {
      background-color: red;
    }
    &_yellow {
      background-color: yellow;
    }
    &_green {
      background-color: green;
    }
    &.active {
      opacity: 1;
    }
  }
}
